/*Global*/

 :root {
    --color-dark: #363f5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdc5cf;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}


/*Titles =====*/

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--color-dark);
    font-weight: normal;
}


/*header ========*/

header {
    background: #2D4A22;
    padding: 2rem 0 10rem;
    text-align: center;
}

header h1 {
    color: #fff;
    font-weight: 100;
}


/*balance =================*/

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;
    margin-top: 0;
}


/*cards ===*/

.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--color-dark);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background: rgb(12, 144, 12);
    color: #f0f2f5;
}


/*table ======*/

#transaction {}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table thead tr th:first-child,
teble tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead th {
    background-color: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

table tr {
    opacity: 0.5;
}

table tbody tr:hover {
    opacity: 1;
}

.description {
    color: var(--color-dark);
}

.expense {
    color: #12a454;
}

.income {
    color: #e92929;
}


/*footer  ======*/

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--color-dark);
    opacity: 0.6;
}